.form-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 10vh;
    .form {
        width: 60%;
        margin: 0 auto;
        .float-container {
            position: relative;
            border: solid thin $light-grey;
            border-radius: 2px;
            padding: 0 3.5rem;
            margin: 1rem 0;
            z-index: 1;
            background-color: $light-color;
            input,
            select {
                border: none;
                outline: 0;
                padding: 1.1rem 0 1rem;
                margin-left: 0.5rem;
                font-size: 1rem;
                color: $grey-color !important;
                font-family: "Open Sans", sans-serif;
                background-color: $light-color !important;
            }

            // change bg and text color with input autocomplete
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px $light-color inset !important;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: $grey-color !important;
            }
            // remove the calendar icn from date input
            input[type="date"]::-webkit-calendar-picker-indicator,
            input[type="date"]::-webkit-inner-spin-button {
                display: none;
            }
            input[type="date" i] {
                font-family: "Open Sans", sans-serif;
                font-size: 1rem;
                color: $grey-color;
            }
            label {
                color: $purple-color;
                padding: 1.1rem 0 1rem;
            }
            .error {
                position: absolute;
                top: 0.2rem;
                left: 3.5rem;
                font-size: 0.7rem;
                color: red;
            }
        }
        .dates-container {
            @include flex(space-between, center, row);
            .dates-container:first-child {
                padding-left: 0.5rem;
            }
            .dates-container:last-child {
                margin-right: 0.5rem;
            }
            .float-container {
                margin-top: 0;
                width: 46%;
            }
        }
        input[type="submit"] {
            @include purple-button();
            display: flex;
            margin: 6rem auto;
        }
        .disabled {
            background: $grey-gradient !important;
            color: $light-grey !important;
            text-shadow: none !important;
        }
    }
}

// media queries
@media only screen and (max-width: $tablet-width) {
    .form {
        width: 90% !important;
        .dates-container {
            @include flex(space-between, center, column !important);
            .float-container {
                width: 100% !important;
            }
        }
        input[type="submit"] {
            margin: 4rem auto !important;
        }
    }
}