// variables
$purple-color: #5851ea;
$blue-color: #2218dbd0;
$light-color: #fff;
$grey-color: #7b7b7b;
$light-grey: #dfdddd;
$navbar-height: 4.5rem;
$navbar-mobile-height: 7rem;
$purple-gradient: linear-gradient(
    180deg,
    rgba(88, 81, 234, 1) 0%,
    rgba(128, 128, 255, 1) 100%
);
$grey-gradient: linear-gradient(
    180deg,
    rgba(212, 203, 203, 1) 0%,
    rgba(123, 123, 123, 1) 100%,
    rgba(116, 116, 255, 1) 100%
);
$desktop-width: 1024px;
$tablet-width: 769px;
$mobile-width: 563px;
$square-size: 60px;
$square-small-screen-size: 40px;

// mixins
@mixin flex($content, $items, $direction) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
}

@mixin button($color, $hover-color) {
    border-radius: 30px;
    background-color: $color;
    padding: 0.1rem 0.6rem;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(201, 201, 201, 1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(201, 201, 201, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(201, 201, 201, 1);
    &:hover {
        background-color: $hover-color;
    }
}

@mixin purple-button() {
    border-radius: 30px;
    background: $purple-gradient;
    color: $light-color;
    padding: 0.9rem 3.2rem;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    text-shadow: 0 -1px 0 $blue-color;
    border: none;
    outline: none !important;
    &:hover {
        background: $blue-color;
    }
    @media only screen and (max-width: $mobile-width) {
        padding: 0.7rem 3.2rem;
    }
}

// Main styles

// Set the global `box-sizing` state to `border-box`.
// And set the root font-size for unit mesurements purposes
html {
    box-sizing: border-box;
    font-size: 15px;

    @media only screen and (max-height: 600px) {
        font-size: 10px;
    }

    @media only screen and (max-width: $mobile-width) {
        font-size: 10px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

#root {
    height: 100%;
    width: 100%;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    color: $grey-color;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:visited {
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    @media only screen and (max-width: $tablet-width) {
        width: 95%;
    }
    @media only screen and (max-width: $mobile-width) {
        width: 100%;
    }
}

.title-container {
    text-align: center;
    @include flex(center, center, row);
    height: 50vh;
    .title-text {
        color: $purple-color;
    }
    @media only screen and (max-width: $mobile-width) {
        height: 20vh;
    }
}

.title {
    font-family: "Poppins", sans-serif;
    color: #000;
}

.square-blue-right {
    transform: rotate(220deg);
    position: absolute;
    top: 15rem;
    right: 10rem;
    height: $square-size;
    width: $square-size;
    @media only screen and (max-width: $tablet-width) {
        right: 3rem;
    }
    @media only screen and (max-width: $mobile-width) {
        height: $square-small-screen-size;
        width: $square-small-screen-size;
        top: 8rem;
    }
}

.square-blue-left {
    transform: rotate(5deg);
    position: absolute;
    top: 10rem;
    left: 15rem;
    height: $square-size;
    width: $square-size;
    @media only screen and (max-width: $tablet-width) {
        left: 3rem;
    }
    @media only screen and (max-width: $mobile-width) {
        top: 4.5rem;
        height: $square-small-screen-size;
        width: $square-small-screen-size;
    }
}

.square-pink-bottom {
    background-color: pink;
    height: 47px;
    width: 47px;
    transform: rotate(-12deg);
    position: absolute;
    left: 20rem;
    bottom: 8rem;
    @media only screen and (max-width: $tablet-width) {
        left: 7rem;
    }
    @media only screen and (max-width: $mobile-width) {
        height: 33px;
        width: 33px;
    }
}

.curve {
    z-index: -1;
    position: absolute;
    left: 20rem;
    height: 320vh;
    top: -55rem;
    @media only screen and (max-width: $tablet-width) {
        height: 180vh;
        top: -8rem;
        left: -4rem;
        transform: rotate(180deg);
    }
}

// Component imports
@import "../components/NavBar/styles";
@import "../components/Home/styles";
@import "../components/Employees/styles";
@import "../components/Employee/styles";
@import "../components/EmployeeForm/styles";
@import "../components/Footer/styles";
@import "../components/NotFound/styles";
