// variables
$purple-color: #5851ea;
$blue-color: #2218dbd0;
$light-color: #fff;
$navbar-height: 4.5rem;
$purple-gradient: linear-gradient(
    0deg,
    rgba(88, 81, 234, 1) 0%,
    rgba(59, 57, 255, 1) 100%,
    rgba(116, 116, 255, 1) 100%
);

// mixins
@mixin flex($content, $items, $direction) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
}

@mixin button($color) {
    border-radius: 30px;
    background-color: $color;
    padding: 0.1rem 0.6rem;
}

// Main styles

// Set the global `box-sizing` state to `border-box`.
// And set the root font-size for unit mesurements purposes
html {
    box-sizing: border-box;
    font-size: 15px;

    @media only screen and (max-height: 600px) {
        font-size: 12px;
    }
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 80%;
    margin: 0 auto;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    // font-weight: 500;
    // line-height: 1.5rem;
    color: #7b7b7b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:visited {
    color: inherit;
}

.title {
    font-family: "Poppins", sans-serif;
    color: #000;
}

.purple-button {
    border-radius: 30px;
    background: $purple-gradient;
    color: $light-color;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    box-shadow: 0px 20px 36px 1px rgba(158, 158, 158, 1);
    text-shadow: 0 -1px 0 $blue-color;
}

.square-blue-right {
    transform: rotate(220deg);
    position: absolute;
    top: 15%;
    right: 10%;
    height: 60px;
    width: 60px;
}

.square-blue-left {
    transform: rotate(5deg);
    position: absolute;
    top: 10%;
    left: 15%;
    height: 60px;
    width: 60px;
}

.curve {
    z-index: -1;
    position: absolute;
    left: 20%;
    height: 320vh;
    top: -60%;
}

.square-pink-bottom {
    background-color: pink;
    height: 47px;
    width: 47px;
    transform: rotate(-12deg);
    position: absolute;
    left: 20%;
    bottom: 8%;
}

// Component imports
// @import "../containers/App/styles";
// @import "../containers/Login/styles";
@import "../components/NavBar/styles";
@import "../components/Home/styles";
@import "../components/Employees/styles";
@import "../components/Employee/styles";
