// Main styles

// Set the global `box-sizing` state to `border-box`.
// And set the root font-size for unit mesurements purposes
html {
    box-sizing: border-box;
    font-size: 16px;

    @media only screen and (max-height: 600px) {
        font-size: 12px;
    }
}

html,
body,
#root{
    width: 100%;
    height: 100%;
    // background-color: #5851EA;
}

.container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    // line-height: 1.5rem;
    color: #000000;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

.title {
    font-family: "Poppins", sans-serif;
}

// mixins
@mixin flex($content, $items, $direction) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    direction: $direction;    
}

// Component imports
// @import "../containers/App/styles";
// @import "../containers/Login/styles";
@import "../components/NavBar/styles";
