.employees-container {
    position: relative;
    overflow: hidden;
    .employees-list-container {
        @include flex(space-between, center, row);
        flex-wrap: wrap;
        padding-bottom: 25vh;
    }
}
        

