.employees-container {
    position: relative;
    overflow: hidden;
    .employees-title-container {
        text-align: center;
        @include flex(center, center, row);
        height: 50vh;
        .employees-title-text {
            color: $purple-color;
        }
    }
    
    .employees-list-container {
        @include flex(space-between, center, row);
        flex-wrap: wrap;
        padding-bottom: 25vh;
    }
}
        

