.navbar {
    @include flex(space-between, center, row);
    height: $navbar-height;
    background-color: "transparent";
    .navigation {
        @include flex(center, center, row);
        width: auto;
        list-style: none;
        font-size: 0.8rem;
        .link {
            text-decoration: none;
        }
        li {
            color: #fff;
            margin: 0.5rem;
            cursor: pointer;
        }
        .selected {
            @include button(#fff);
            padding: 0.05rem 0.7rem;
            li {
                color: #5851ea;
            }
        }
    }
}

.solid {
    background: $purple-gradient;
}

// media queries
@media only screen and (max-width: $mobile-width) {
    .navbar {
        @include flex(center, center, column);
        height: auto;
        height: $navbar-mobile-height;
        .navigation {
            padding: 0;
            margin: 0;
            li {
                margin: 0.4rem 1rem;
            }
            .selected {
                padding: 0.01rem 0.4rem;
            }
        }
    }
}
