// div { 
//     border: solid red 1px;
// }

.navbar {
    @include flex(space-between, center, row);
    height: $navbar-height;
    background-color: "transparent";    
    ul {
        @include flex(center, center, row);
        width: auto;
        list-style: none;
        font-size: .8rem;
        .link {
            text-decoration: none;
        }
        li {
            color: #fff;
            margin: .5rem;
            cursor: pointer;
        }
        .selected {
            @include button(#fff);
            li {
                color: #5851EA;
            }
        }

    }
}

.solid {
    background: $purple-gradient;
    // background: rgb(88,81,234);
}